<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Tech Today</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
        <div>
            <h1><a href="/">Tech Today Blog</a></h1>
        </div>
	</header>
	<main>
		{{{ body }}}
	</main>
	<div class="lowerContainer" style="text-align:center">
		&copy;2021 <a href="/">Tech Today</a>
	</div>
	<script src="/js/client.js"></script>
</body>

</html>