<div class="row">
   <div class="col-md-12">
      <button id="newPostBtn"><a href="/dashboard/create">New Post!</a></button>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
{{#each user_posts as |user_post|}}
{{> userPost}}
{{/each}}
   </div>
</div>

