<div class="signupContainer">
    <form class="personal-form">
        <div class="form">
        <label class="label" for="firstName">User Name</label>
        </div>
        <div class="form">
        <input class="input" type="text" id="firstName">
        </div>
        <div class="form">
        <label class="label" for="password">Password</label>
        </div>
        <div class="form">
        <input class="input" type="password" id="password">
        </div>
        <div class="form">
        <button class="login" type="submit">Login</button>
        </div>
    </form>
    <div class="signup">
        <a href="#">Sign me up!</a>
    </div>
</div>