<div class="signupContainer">
    <h2>Log In:</h2>
    <form class="personal-form">
        <div class="form">
        <label class="label" for="userName">User Name</label>
        </div>
        <div class="form">
        <input class="input" type="text" id="userName">
        </div>
        <div class="form">
        <label class="label" for="password">Password</label>
        </div>
        <div class="form">
        <input class="input" type="password" id="password">
        </div>
        <div class="form">
        <button id="loginBtn" type="submit">Login</button>
        </div>
    </form>
    <div class="signup">
        <a id="signup" href="#">Sign me up!</a>
    </div>
</div>

<script src="/js/login.js"></script>