<div id="postBlock">
    <h3>{{post.title}}</h3>
    <p id="user">User: {{post.user}}</p>
    <p id="user">Updated At: {{post.updated_at}}</p>
    <button id="user"><a href="/home/{{post.id}}">View Post</a></button>
</div>