<div class="signupContainer">
    <h2>Sign Up:</h2>
    <form class="signup-form">
        <div class="form">
        <label class="label" for="userName">User Name</label>
        </div>
        <div class="form">
        <input class="input" type="text" id="signUpUser">
        </div>
        <div class="form">
        <label class="label" for="password">Password</label>
        </div>
        <div class="form">
        <input class="input" type="password" id="signUpPass">
        </div>
        <div class="form">
        <button class="login" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="signup">
        <a href="#">Log in!</a>
    </div>
</div>

<script src="/js/signup.js"></script>