<div class="createPost">
    <h2>View Post</h2>
    <h3>{{post.title}}</h3>
    <h4>{{post.user.user_name}}</h4>
    <h5>{{post.createdAt}}</h5>
    <hr>
    <p>{{post.content}}</p>

    <button id="comment">Leave a Comment</button>
</div>
<div id="commentsDiv">
    {{!-- put a comments partial here! --}}
</div>