body {
    background-image: url("../images/goldengate.jpg");
    margin: 0;
    padding: 0;
}

#container {
  height: 730px;;
}

header {
    margin-top: 10px;
    background-color: rgb(184, 97, 70);
    height: 110px;
}
#navbar {
    height: 30px;
    padding: 10px;
}


h1 {
    font-size: 36px;
    font-weight: bolder;
    color: antiquewhite;
    margin: 0px 0px 0px 12px;
}

h2 {
    font-size: 26px;
    font-weight: bolder;
    color: antiquewhite;
    margin-left: 20px;
}

a {
    color: antiquewhite;
    text-emphasis: none;
    margin: 5px;
}
.signupContainer {
    margin: 80px 10px 150px 10px;
    padding: 5px 0px;
    height: 360px;
    width: 450px;
    border-style: solid; 
    border-color: rgb(184, 97, 70);
}

.createPost {
    margin: 80px 10px 150px 10px;
    padding: 5px 0px;
    height: 480px;
    width: 650px;
    border-style: solid; 
    border-color: rgb(184, 97, 70);
}
#footer {
    background-color: rgb(184, 97, 70);
    height: 20px;
    width: 100%;
    padding: 10px;
    position: fixed;
    margin-bottom: 10px;
}
.form {
    margin: 20px;
}

.input, .label {
    width: 400px;
    font-size: 24px;
}
.label {
    color: antiquewhite;
}
.login {
    width: 408px;
    font-size: 24px;
    height: 40px;
    color: antiquewhite;
    background-color: rgb(184, 97, 70);
}
button:hover{
    cursor: pointer;
}

.signup {
    margin-left: 15px;
}

#newPost, #create, #edit, #delete {
    margin-left: 20px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: antiquewhite;
    background-color: rgb(44, 99, 172);
}

#title {
    width: 600px;
    font-size: 18px;
}

#content {
    width: 600px;
    height: 180px;
    font-size: 14px;
}

#postBlock {
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border-style: solid; 
    border-color: rgb(184, 97, 70);
}

h3 {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(44, 99, 172);
    display: inline;
}
#user {
    font-size: 18px;
    margin-right: 10px;
    color: rgb(44, 99, 172);
    display: inline;
}

#update {
    font-size: 14px;
    margin-right: 10px;
    color: rgb(44, 99, 172);
    display: inline;

}

#viewBtn {
    float: right;
    background-color: rgb(44, 99, 172);
    color: antiquewhite;
}


